<div class="center">
  <%= image_tag("heart.png", size: "30x30") %>
  <br>
  <br>
  Blood glucose simulator!
  <br>
  <br>
  <input type="text" placeholder="Enter food eaten"/>
  <button type="submit">Submit</button>
  <br>
  <br>
  and/or
  <br>
  <br>
  <input type="text" placeholder="Enter exercise done"/>
  <button type="submit">Submit</button>
  <br>
  <br>
</div>